<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.info.pl2020">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:minSdkVersion="10"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.pl2020.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.SemestersListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.pl2020.activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.ProfilActivity" />
        <activity
            android:name=".activity.TeachingUnitListActivity"
            android:label="@string/title_teaching_unit_list"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.pl2020.activity.SemestersListActivity" />
        </activity>
        <activity
            android:name=".activity.TeachingUnitDetailActivity"
            android:label="@string/title_teaching_unit_detail"
            android:parentActivityName=".activity.TeachingUnitListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.pl2020.activity.TeachingUnitListActivity" />
        </activity>
        <activity android:name=".activity.CareerListActivity" />
        <activity android:name=".activity.CareerSummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.pl2020.activity.HomeActivity" />
        </activity>

        <provider
            android:name="com.commonsware.cwac.provider.StreamProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="com.commonsware.cwac.provider.STREAM_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
            <meta-data
                android:name="com.commonsware.cwac.provider.USE_LEGACY_CURSOR_WRAPPER"
                android:value="true" />
        </provider>
        
    </application>
</manifest>