<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.info.pl2020">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:minSdkVersion="10"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SemestersListActivity" />
        <activity android:name=".activity.ProfilActivity" />
        <activity android:name=".activity.TeachingUnitListActivity"
            android:label="@string/title_teachingunit_list"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.pl2020.activity.SemestersListActivity" />
        </activity>
        <activity
            android:name=".activity.TeachingUnitDetailActivity"
            android:label="@string/title_teachingunit_detail"
            android:parentActivityName=".activity.TeachingUnitListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.info.pl2020.activity.TeachingUnitListActivity" />
        </activity>
    </application>

</manifest>